* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  background-color: rgb(26, 24, 24);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-list:hover {
  
}
.container {
  color: white;
  font-size: 20px;
  padding: 0.4rem;
}

.container nav a{
  font-size: 22px;
  cursor: pointer;
  padding: 6px 20px; 
  text-transform: uppercase;
}

.container nav a:hover{
  box-shadow: 0 0 5px red,
              0 0 5px rgb(223, 98, 98);
  transition: .4s;
}

.dumbal {
  width: 91px;
  height: 61px;
  filter: invert(100%);
}

.items-center {
  align-items: center;
  justify-content: center;
}

.background-image{
  height: 500px;
  width: 100%;
  

}

.section{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;  
}

.gym-img {
  width: 60%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 25px;
  border: 2px solid black;
}


.sectionTag {
  font-size: 33px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: -8px;
}

.py-24{
  padding-top: 5rem;
}

.container-link:hover{
  color:black
}

.relative1{
  border-radius: 15px;
}

.relative1:hover{
  background-color: rgb(241, 239, 239);
}

.join-h {
  font-size: 1.6rem;
  line-height: 1.75rem;
  font-weight: bold;
}

.container1-btn{
  border-radius: 10px;
}

.container1-btn:hover{
  transition: .5s;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
} 

.text-price {
  font-size: 3.5rem;
  font-weight: bold;
}

.text-sm1 {
  color : black;
  font-size: 1.52rem;
  font-weight: bold;
  line-height: 1.25rem;
}

.div-pad {
  justify-content: center;
  align-items: center;
}

.sm-text {
  font-size: 2.875rem;
  line-height: 2.25rem;
  font-weight: bold;
}

.color {
  background:linear-gradient(to right, rgb(161, 132, 132), rgb(236, 206, 195));
  border-radius: 15px;
}

.name {
  font-size: 1.4rem;
  line-height: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
}

.row {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 15px;
  padding: 10px;
  color: black;
  font-weight: bold;
}

.col-lg-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.contact {
  color: rgb(255, 0, 0);
}

.footer-social {
  color: white;
  background: black;
  border: 3px solid black;
  border-radius: 7px;
}

.footer-social:hover {
  background: red;
  border: 3px solid red;
}

.price-bg-color:hover {
  background: rgb(248, 245, 245);
}

