@media (min-width: 1201px){
    .container1 .join-width {
        width: 33.333333%;
        margin-top: 0px;
    }

    .container1 .join-text-width {
        width: 60%;
        padding-right: 0px;
    }
}
@media (max-width: 1200px) {

    /* NavBar */
    .hamburger, .toggle-menu {
        display: block;
        right: 24px;
    }

    .header {
        padding: 10px 20px;
    }

    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background: black;
        width: 300px;
        height: 100%;
        padding-top: 65px;
    }

    .menu li {
        width: 100%;
    }

    .menu li a {
        color: black;
        padding: 30px;
        font-size: 25px;
        box-shadow: 0 1px 0 rgba(67, 28, 28, 0.2) inset;
    }

    #navbar div ul li a:hover {
        border-radius: 15px;
        text-decoration: underline;
    }
    
    /* Section1 */

    .section-Text {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .section {
        flex-direction: column;
    }
    
    .gym-img {
        width: 572px;
        height: 344px;
    }

    /* Section2 */
    .container1{
        flex-direction: column;
    }
}
