@media (max-width: 530px){

    .section {
        flex-direction: column;
    }
    .nav {
        display: flex;
        flex-direction: column;
    }
    .gym-img {
        width: 270px;
        height: 270px;
    }
}
